{% extends 'base.html' %}

{% block content %}

<form method="post">
    <div class="row justify-content-lg-center">
        <div class="col col-md-3">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" class="form-control" style="margin-bottom: 7px">

            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" style="margin-bottom: 12px">
            
            
        </div>
    </div>
    <div class="row justify-content-lg-center">
        <div class="col col-md-auto">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </div>
</form>

{% endblock %}