MEMORY {
    INES_HEADER:
        start $0000
        size $10
        fill yes
        file %O;
    ZP:
        start $0000
        size $100
        file "";
    SRAM:
        start $100
        size $700
        file "";
    DATA:
        start $300
        size $500
        file "";
    REGS:
        start $2000
        size $3BFF
        file "";
    PRG:
        start $8000
        size $7FFA
        fill yes
        file %O;
    VECTORS:
        start $FFFA
        size $6
        file %O;

    CHR:
        start $0000
        size $2000
        file %O;
}

SEGMENTS {
    INES:
        load INES_HEADER
        type ro;
    TEMP:
        load ZP
        start $0
        type zp;
    ZEROPAGE:
        load ZP
        start $10
        type zp;
    BUFFERS:
        load SRAM
        start $100
        type bss;
    DATA:
        load DATA
        type bss;
    PPUREGS:
        load REGS
        start $2000
        type bss;
    IOREGS:
        load REGS
        start $4000
        type bss;
    CHR:
        load CHR
        type ro;
    CODE:
        load PRG
        align $400
        type ro;
    VECTORS:
        load VECTORS
        type ro;
}
