<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
  {% include 'topbar.html' %}
  <div class="container py-5">
    <h1 class="text-center mb-5">About Us</h1>
    <div class="row">
      <div class="col-md-6 mb-4 mb-md-0">
        <h3>Meet the Founders</h3>
        <ul class="list-unstyled">
          <li>
            <div class="media mb-3">
              <img src="/static/head2.jpg" class="mr-3" alt="Jessica Anderson" width="250">
              <div class="media-body">
                <h5 class="mt-0 mb-1">Jessica Anderson</h5>
                CEO/Founder<br>
                <a href="mailto:anderson.j@eternalzenith.com">anderson.j@eternalzenith.com</a>
              </div>
            </div>
          </li>
          <li>
            <div class="media mb-3">
              <img src="/static/head1.jpg" class="mr-3" alt="John Smith" width="250">
              <div class="media-body">
                <h5 class="mt-0 mb-1">John Smith</h5>
                Co-Founder<br>
                <a href="mailto:smith.j@eternalzenith.com">smith.j@eternalzenith.com</a>
              </div>
            </div>
          </li>
          <li>
            <div class="media mb-3">
              <img src="/static/head3.jpg" class="mr-3" alt="Amy Johnson" width="250">
              <div class="media-body">
                <h5 class="mt-0 mb-1">Amy Johnson</h5>
                Development Lead<br>
                <a href="mailto:johnson.a@eternalzenith.com">johnson.a@eternalzenith.com</a>
              </div>
            </div>
          </li>
          <li>
            <div class="media mb-3">
              <img src="/static/head4.jpg" class="mr-3" alt="Mark Lee" width="250">
              <div class="media-body">
                <h5 class="mt-0 mb-1">Mark Lee</h5>
                Sales Lead<br>
                <a href="mailto:lee.m@eternalzenith.com">lee.m@eternalzenith.com</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <h3>About Eternal Zenith Solutions</h3>
        <p>We are a tech startup that is focused on developing innovative solutions that help businesses achieve long-term success. We believe that by combining cutting-edge technology with a deep understanding of our clients' needs, we can help businesses thrive in an ever-changing marketplace. Our team of experienced professionals is dedicated to helping businesses of all sizes optimize their operations, streamline their processes, and stay ahead of the competition. With Eternal Zenith Solutions, you can take your business to new heights and unlock its full potential.</p>
      
	<h4>Our Philosophy</h4>
	<p>At Eternal Zenith Solutions, we believe that technology should be used to make life easier and more efficient. We strive to create innovative solutions that help businesses achieve their goals by leveraging the power of technology. We understand that every business is unique and has its own set of challenges. Therefore, we work closely with our clients to understand their needs, goals, and objectives to deliver customized solutions that meet their specific requirements.</p>
	<h4>Our Mission</h4>
	<p>Our mission at Eternal Zenith Solutions is to empower businesses to reach their full potential by providing innovative technology solutions that improve efficiency, productivity, and profitability. We are committed to providing exceptional service to our clients and delivering solutions that are reliable, secure, and user-friendly.<p>
      </div>
    </div>
  </div>
  {% include 'footer.html' %}
  {% include 'script.html' %}
</body>
</html>
