<!DOCTYPE html>
<html lang="en">
  <!-- Include the head section -->
  {% include 'head.html' %}

  <body>
    <!-- Include the topbar section -->
    {% include 'topbar.html' %}

    <div class="container mt-5">
      <div class="jumbotron">
        <h1 class="display-4">Unlock Your Business's Full Potential</h1>
        <p class="lead">Eternal Zenith Solutions is a tech startup that is focused on developing innovative solutions that help businesses achieve long-term success.</p>
        <hr class="my-4">
        <p>Our team of experienced professionals is dedicated to helping businesses of all sizes optimize their operations, streamline their processes, and stay ahead of the competition.</p>
        <p>With Eternal Zenith Solutions, you can take your business to new heights and unlock its full potential.</p>
        <a class="btn btn-primary btn-lg" href="/services" role="button">Learn More</a>
      </div>
    </div>
	{% include 'footer.html' %}
    <!-- Include the script section -->
    {% include 'script.html' %}
  </body>
</html>
