<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
{% include 'topbar.html' %}
<div class="container mt-5">
  <h1 class="mb-5">Our Services</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Custom Software Development</h5>
          <p class="card-text">We can help you build custom software that is tailored to your unique business needs.</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Starting at $5,000</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Web Design and Development</h5>
          <p class="card-text">We can help you design and develop a modern, responsive website that reflects your brand and drives results.</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Starting at $2,500</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Digital Marketing Services</h5>
          <p class="card-text">We can help you optimize your online presence through effective digital marketing strategies.</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Starting at $1,000/month</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% include 'footer.html' %}
</body>
</html>
