<!DOCTYPE html>
<html lang="en">
  {% include 'head.html' %}
  <body>
    {% include 'topbar.html' %}
    <!-- Jumbotron -->
    <div class="jumbotron jumbotron-fluid mt-5">
      <div class="container text-center">
        <form action="/forgot_password" method="post">
          <legend>Forgot Password</legend>
          <p>Please answer the following security questions to verify it's actually you!</p>
          {% for q in question_data %}
            <label for="{{ q['id'] }}" class="form-label mt-4">{{ q['question'] }}</label>
            <input class="form-control {% if q['is_wrong_answer'] %}is-invalid{% endif %}" name="{{ q['id'] }}" placeholder="Answer" {% if q['attempted_answer'] %}value="{{ q['attempted_answer'] }}"{% endif %}>
            {% if q['is_wrong_answer'] %}<div class="invalid_feedback">Wrong answer</div>{% endif %}
          {% endfor %}
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
    {% include 'scripts.html' %}
  </body>
</html>