<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
  {% include 'topbar.html' %}
  <!-- Jumbotron -->
  <div class="jumbotron jumbotron-fluid mt-5">
    <div class="container text-center">
      <h1 class="display-4">Buy and sell crypto on the go!</h1>
      <p class="lead">Our platform is fast, secure, and easy to use. Sign up now and start trading in minutes.</p>
      <a href="/login" class="btn btn-primary btn-lg">Sign Up</a>
    </div>
  </div>

  <!-- Features -->
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-4">
        <h3>Fast</h3>
        <p>Our platform is built for speed, with lightning-fast trade execution and real-time market data.</p>
      </div>
      <div class="col-lg-4">
        <h3>Secure</h3>
        <p>We use top-of-the-line security measures to protect your funds and personal information.</p>
      </div>
      <div class="col-lg-4">
        <h3>Easy to Use</h3>
        <p>Our user-friendly interface makes it easy for beginners and experts alike to trade crypto.</p>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="py-3 mt-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h4>About Us</h4>
          <p>We are a team of crypto enthusiasts dedicated to bringing you the best trading experience possible.</p>
        </div>
        <div class="col-lg-4">
          <h4>Contact Us</h4>
          <p>Email: info@cryptoexchange.com</p>
          <p>Phone: 555-555-5555</p>
        </div>
        <div class="col-lg-4">
          <h4>Follow Us</h4>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </footer>
  {% include 'scripts.html' %}
</body>
</html>



