:root {
  --primary-color: #006699;
  --secondary-color: #00cc99;
  --accent-color: #ff9900;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  background-color: var(--primary-color);
}

.btn-primary {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.btn-primary:hover {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
